@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

/* Base */
body {
    font-family: 'Noto Sans JP', "Roboto Slab", sans-serif;
}

a:hover {
    color: #4c86c2;
}

/* MV */
#site-head {
    background-color: #00356b;

}

/* 
Header Buttons on Startpage
animations
*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.vertical {
    animation: 2s fadeIn;
}

a.btn {
    min-width: 7rem;
    color: white;
    background-color: #00356b;
}

a.btn:hover {
    background-color: #4c86c2;
}


/* Content / Sections */
.post-holder.odd {
    background: #00356b;
    color: white;
}

.post-after {
    /* background: #00356b; */
    border-top-color: #00356b;

}

.post-content {
    /* animation: 1s ease-in fadeIn; */
}

/* fixed-nav */
a.fn-item:hover {
    color: #4c86c2;
}

a.fn-item.active {
    color: #007eff;
}
